// Darkmode
$darkBackground: #23272A
$blueGrey: #2c3037
$lightGrey: #52555c
$offWhite: #efefef
$shadowGrey: #979797

$lightBlue: #73d5ff
$darkBlue: #008dc9
$zooBlue: #00b1fc

$headerBlue: #008dc9

$turquoise: #00c9a1
$darkTurquoise: #17a484
$yellow: #fcb400
$darkYellow: #ab7a00

$red: #D94D4D
$darkRed: #bd3c3c

$white: #fdfdfd
$offBlueWhite: #EDF7FC
$lightBackground: #DCF0FA

$darkFont: #241e1e
$darkerFont: #140f0f