@import "./_variables";

.formTable
    td
        padding: 10px 0

    td:nth-child(1), td:nth-child(3)
        text-align: right

    td:nth-child(2), td:nth-child(4)
        text-align: left

// body #site
//     #content.initial-edit
//         margin: 20px 0 0
//         #site input.input-textbox
//             border-radius: 10px; 
//             font-size: 16px;

// // Dark-theme properties
// body.dark-theme
//     #site #content.initial-edit
//         select
//             background-color: $offWhite
//             &:focus
//                 box-shadow: 0px 0px 4px #00b1fc;