#header
    position: relative
    width: 100%
    height: 150px
    background-color: #009fe3 
    letter-spacing: 2px

#headerLogo
    height: 125px
    left: 20px
    z-index: 5

#headerLinks
    width: 100%
    table-layout: fixed
    padding-left: 180px
    text-align: center
    a:
        border: 1px solid #FFF
    a, ul
        text-decoration: none
        // font-variant: small-caps
        font-weight: bolder
        font-size: 20px
        color: #FFF
        cursor: pointer
    ul
        list-style-type: none
        padding-left: 0
        transition: 0.2s
        li
            position: relative
        ul
            position: absolute
            top: 1em
            left: 0
            display: none
    ul > li:hover ul
        display: list-item
        background: green
        width: 100%
        li
            width: 100%
            border: 1px solid #FFF
            font-size: 15px
        li:hover
            background: green
            font-size: 15px
    td:last-child
        border-color: #FFF
        border: 20px
    .currentpage
        border-bottom: 1px solid black
        background-color: #23272A

