body
    background-color: #23272A

#content
    text-align: center
    margin-top: 20px
    color: #73d5ff
    width: 400px
    margin: 50px auto
    padding: 20px
    border-radius: 20px
    background: #2c3037
    width: 75%
    box-shadow: #434444
    border: 2px groove #99AAB5