@import "./_variables";

$oddrow: white
$evenrow: #E1E1E1
$oddnosource: #FFDBDB
$evennosource: #CC9898
$hoverrow: #C3C3C3

.yearRow > td:first-child,
.yearRow > th:first-child
    width: 10px
    text-align: center
    min-height: 10px
    div
        transform: rotate(-90deg)
        // padding: 14px 0

.movieRow.clickable:hover
    cursor: pointer !important
    // background-color: $hoverrow

.movieRow:not(.clickable)
    cursor: not-allowed

.moviesHeaders,
thead > .yearRow
    height: 60px

.moviesHeaders td:not(:first-child):hover,
.moviesHeaders td:first-child div:hover,
thead > .yearRow th:first-child:hover
    cursor: pointer !important        
    border-radius: 20px

.sort-desc::after
    content: "▾"
.sort-asc::after
    content: "▴"


body #site
    #movieTable,
    .movieYear
        width: 100%
        border-collapse: collapse
    table#movieTable
        margin: 50px auto 50px
        padding: 30px
        border-radius: 20px
        width: 90vw
        .editColumn
            width: 35px !important
            z-index: 100
        .movieTitle
            width: 200px
            position: relative
        .movieLength
            font-size: 13px
            width: 75px
        .movieDept
            width: 200px
        .movieRow
            height: 100px
        thead > th
            border-radius: 20px 
            padding: 0px
        .moviesHeaders td:not(:first-child),
        .moviesHeaders td:first-child div,
        thead > .yearRow th:first-child
            font-size: 17px 
            letter-spacing: 1px
        .moviesHeaders td.movieTitle div:hover
            border-radius: 20px 
        td
            font-size: 15px
        td:not(:last-child), th:not(:last-child)
            padding: 15px 10px
        td:last-child
            padding: 15px 0
        .stars
            display: inline-block                
        .icon
            margin: 10px 0 0
        .award-container
            padding: 10px 0 
    table#movieTable > tbody > tr td:last-child
        padding: 0

// Dark-theme properties
body.dark-theme    
    #content table#movieTable
        background-color: $blueGrey
        box-shadow: 0px 0px 0px 2px $lightGrey
        .odd:not(.clickable),
        .even:not(.clickable)
            color: #fdfdfd
            background: $red
            &:hover
                background: $darkRed
        .odd
            background: $darkBackground
            &:hover
                background-color: #272d31
        .even:hover
            background-color: #383d45
        a img
            filter: invert(85%)
            &:hover
                opacity: 0.7
        .moviesHeaders
            color: $darkBlue
        .yearRow:not(:last-child) > td
            border-bottom: 2px solid $lightGrey
            border-top: 2px solid $lightGrey
        .yearRow > td:first-child,
        .yearRow > th:first-child
            border-right: 2px solid $lightGrey
    .moviesHeaders td:not(.movieTitle):hover,
    .moviesHeaders td.movieTitle div:hover,
    thead > .yearRow th.movieTitle:hover
        background-color: #383d45
    .moviesHeaders td.editColumn:hover
        background-color: $blueGrey



// .odd
// background: $oddrow

// .odd:not(.clickable)
//     background: $oddnosource
// .even:not(.clickable)
//     background: $evennosource
