#movieTable,
.movieYear
    width: 100%

.yearRow > td
    border-bottom: 1px solid black
    border-top: 1px solid black

.yearRow > td:first-child
    width: 10px
    text-align: center
    border-right: 1px solid black
    min-height: 10px
    div
        transform: rotate(-90deg)
        padding: 14px 0
.odd
    background: white
.movieTitle
    width: 180px
.movieDept
    width: 300px
.movieRow
    height: 100px
