form
    text-align: center
    width: 500px
    .formPart
        width: 100%
        position: relative
        input, textarea
            width: 100%
.errText
    text-align: center
    color: #D94D4D
