@import "./_variables";

body
    #content
        text-align: center
        margin: 50px auto
        padding: 50px 30px 75px
        width: 80vw
        border-radius: 20px
        ul li
            list-style-type: none;  
        table#themes
            margin: 0 auto

    
// Dark-theme properties
body.dark-theme    
    #content
        background-color: $blueGrey
        border: 2px solid $lightGrey