@import "./_variables"

$grey: #5D5D5D

body
    margin: 50px 0 0
    #site
        .logo
            width: 330px
            margin: auto
        input
            margin: 10px auto
            padding: 6px
            border-radius: 2px
            border-color: $grey
            display: inline-block
        input::-webkit-input-placeholder
            text-align: center
        input:-moz-placeholder
            text-align: center
        input::-moz-placeholder
            text-align: center
        input:-ms-input-placeholder
            text-align: center
        input:focus
            outline: none
        input[type="submit"]
            cursor: pointer
        #errorMessage,
        #tos
            width: 400px
            text-align: center
            margin: auto
        #errorMessage
            color: $red
        #login
            margin: auto
    .db
        display: block
    .tac
        text-align: center

    .login-container
        margin: 0 auto
        padding: 45px 0
        width: 550px
        border-radius: 20px
        #login .account-login
            border-radius: 10px
            font-size: 16px
        #login input.button
            width: 225px
            margin: 15px 0 20px
        a
            text-decoration: none
            padding: 15px 10px 0 0

// Dark-theme properties
body.dark-theme    
    .login-container
        background-color: $blueGrey
        border: 2px solid $lightGrey
        #tos
            color: $lightBlue
        #login .account-login 
            background-color: $offWhite
        a
            color: $turquoise
            &:hover
                color: #00b38f

// Light-theme properties
body.light-theme    
    .login-container
        background-color: $offBlueWhite
        border: 2px solid $lightGrey
        box-shadow: 0px 4px 10px 0px $shadowGrey
        #tos
            color: $darkFont
        #login
            background-color: $offBlueWhite
            a
                font-weight: bold
                color: $turquoise
                &:hover
                    color: #00b38f