body
    background-color: #23272A

.tac
    max-width: 100%
    padding: 25px 50px 0px 50px
    color: #73d5ff
    width: 75%
    margin: 25px auto
    padding: 20px
    border-radius: 20px
    background: #2c3037
    background-origin: border-box
    background-clip: border-box
    box-shadow: #434444
    border: 2px groove #99AAB5
    overflow-y: auto

#footer #footerContent
    color: #00b1fc