<div id="footer">
    <div id="footerContent" class="absCY">
        <span>
            Copyright &copy; 2016 - <%= (new Date()).getFullYear() %> Electrical, Computer, and Software Students'
            Society (ZOO), Mitchell Sawatzky, All Rights Reserved<br />
            <a href="mailto:webmaster@zooengg.ca">Contact Webmaster</a>
        </span>
    </div>
</div>
