<meta charset="utf-8" />
<meta name="description" content="The ENGG Week Movie Archive is an archive of the known submissions to the annual film competition during the Schulich School of Engineering's ENGG Week at the University of Calgary." />
<meta name="keywords" content="ewma, zoo, engg, week, uofc, schulich, engineering, week, movie, archive" />
<meta name="copyright" content="2017 Mitchell Sawatzky" />
<meta name="language" content="EN" />
<meta name="robots" content="index, follow" />
<link rel="icon" type="image/png" href="/static/images/favicon.png" />
<% if (title) { %>
    <title><%= title %></title>
<% } %>
