<div id="header">
    <a href="/">
        <img class="absCY" id="headerLogo" src="<%= cacheBuster('images/ewma.svg') %>" alt="logo" />
    </a>
    <table id="headerLinks" class="absCY">
        <tbody>
            <tr>
                <% for (let header of request.headerLinks) { %>
                    <td><a class="header <%= header.text.toLowerCase() === pageId.toLowerCase() ? 'currentpage' : '' %>" href="<%= header.link %>"><%= header.text %></a>
                <% } %>
            </tr>
        </tobdy>
    </table>
</div>
