<!DOCTYPE html>
<head>
    <%- include('head_shit.ejs', {title: 'EWMA | Home', request: request, cacheBuster: cacheBuster}); %>
</head>
<body class="dark-theme || light-theme">
    <div id="site">
        <%- include('headers.ejs', {pageId: 'Home'}); %>
        <div id="content">
            <p>Every year, the Schulich School of Engineering at the University of Calgary holds a week-long competition between all Departments within Engineering. Each Department chooses a theme, and must craft submissions to events around their theme. The most popular event in the competition is Movie Night, in which students gather to watch "short" movies created by each of the Departments.</p>
            <p>The Engineering Week Movie Archive (EWMA) is an attempt to archive submissions to Movie Night.</p>
            <p>This archive is designed to be a safe place for submissions - themes and content within the shorts in the archive are not owned by the students that produced the shorts. Any violations of campus rules within the shorts in the archive were done in post-production for comedic effect and are therefore not actually violations. Any promotion of alcoholism or binge-drinking did not actually happen - maybe watch the movie again.</p>
        </div>
        <%- include('footers.ejs', {}); %>
    </div>
</body>
