<!DOCTYPE html>
<head>
    <%- include('head_shit.ejs', {title: 'EWMA | Home', request: request, cacheBuster: cacheBuster}); %>
</head>
<body>
    <div id="site">
        <%- include('headers.ejs', {pageId: 'Home'}); %>
        <div id="content">
            <p>Every year, the Schulich School of Engineering at the University of Calgary holds a week-long competition between all departments within Engineering. Each department chooses a theme, and must craft submissions to events around their theme. The most popular event in the competition is Movie Night, in which students gather to watch short movies created by each of the departments.</p>
            <p>The Enggineering Week Movie Archive (EWMA) is an attempt to archive submissions to Movie Night.</p>
        </div>
        <%- include('footers.ejs', {}); %>
    </div>
</body>
