<html>
    <body>
        <div>
            Hello,<br>
            <br>
            We just received a request to reset your password.<br>
            If this was you, then <a href="https://ewma.zooengg.ca/useapasswordmanager?token=<%= token %>&user=<%= user %>">click here</a>.<br>
            If this was not you, then don't click there I guess.<br>
            <br>
            I mean, at the end of the day, you should do what you want to do. I'm not going to tell you how to live your life.<br>
            If you want to click that link, then click the link! Who am I to tell you to not click that link?<br>
            <br>
            Instead of dwelling on the question of if you should click that link or not, maybe we should ask something more constructive:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<i>Why are you still reading an automated password reset email?</i><br>
            <br>
            You should turn off your computer and go do something useful with the rest of your life.<br>
            Suggestions:
            <ul>
                <li>Read a book</li>
                <li>Do some public service</li>
                <li>Personally interact with your neighbors that you've probably only met online</li>
                <li>Plant a tree</li>
                <li>Introduce yourself to those other people who live at your house (your family).</li>
            </ul>
            Please don't forget to turn off the lights on your way out.<br>
            <br>
            What, too snarky?<br>
            You better watch your tone, young man.<br>
            <br>
            Did I just assume your gender?<br>
            Another question for the times.<br>
            <br>
            The cold, hard truth is that there are some questions that don't have answers. We may never know.<br>
            That's not quite phrased appropriately. The question does have an answer, it's just not proveable what the answer is.<br>
            <br>
            When we say that a statement is 'unprovable', we mean that it is unprovable from the axioms of a particular theory.<br>
            Here's a nice concrete example:<br>
            Euclid's <i>Elements</i>, the prototypical example of axiomatic mathematics, begins by stating the following five axioms:<br>
            <ol>
                <li>Any two points can be joined by a straight line</li>
                <li>Any finite straight line segment can be extended to form an infinite straight line.
                <li>For any point P and choice of radius r we can form a circle centred at P of radius r</li>
                <li>All right angles are equal to one another.</li>
                <li>[The parallel postulate:] If L is a straight line and P is a point not on the line L then there is at most one line L′ that passes through P and is parallel to L.</li>
            </ol>
            Euclid proceeds to derive much of classical plane geometry from these five axioms. This is an important point.<br>
            After these axioms have been stated, Euclid makes no further appeal to our natural intuition for the concepts of 'line', 'point' and 'angle', but only gives proofs that can be deduced from the five axioms alone.<br>
            It is conceivable that you could come up with your own theory with 'points' and 'lines' that do not resemble points and lines at all.<br>
            But if you could show that your 'points' and 'lines' obey the five axioms of Euclid, then you could interpret all of his theorems in your new theory.<br>
            In the two thousand years following the publication of the <i>Elements</i>, one major question that arose was: do we need the fifth axiom?<br>
            The fifth axiom - known as the parallel postulate - seems less intuitively obvious than the other four: if we could find a way of deducing the fifth axiom from the first four then it would become superfluous and we could leave it out.<br>
            Mathematicians tried for millenia to find a way of deducing the parallel postulate from the first four axioms (and I'm sure there are cranks who are still trying to do so now), but were unable to.<br>
            Gradually, they started to get the feeling that it might be impossible to prove the parallel postulate from the first four axioms.<br>
            <br>
            But how do you prove that something is unprovable?<br>
            The right approach was found independently by Lobachevsky and Bolyai (and possibly Gauss) in the nineteenth century.<br>
            They took the first four axioms and replaced the fifth with the following:<br>
            <pre>[Hyperbolic parallel postulate:] If L is a straight line and P is a point not on the line L then <b>there are at least two</b> lines that pass through P and are parallel to L</pre>
            This axiom is clearly incompatible with the original parallel postulate.<br>
            The remarkable thing is that there is a geometrical theory in which the first four axioms and the modified parallel postulate are true.<br>
            The theory is called hyperbolic geometry and it deals with points and lines inscribed on the surface of a hyperboloid:<br>
            <img src="https://i.stack.imgur.com/LmlxP.png" alt="hyperboloid"><br>
            <i>In the bottom right of the image above, you can see a pair of hyperbolic parallel lines. Notice that they diverge from one another.</i><br>
            <br>
            The first four axioms hold (and you can check this), but now if L is a line and P is a point not on L then there are infinitely many lines parallel to L passing through P.<br>
            So the original parallel postulate does not hold.<br>
            This now allows us to prove very quickly that it is impossible to prove the parallel postulate from the other four axioms: indeed, suppose there were such a proof.<br>
            Since the first four axioms are true in hyperbolic geometry, our proof would induce a proof of the parallel postulate in the setting of hyperbolic geometry.<br>
            <br>
            But the parallel postulate is not true in hyperbolic geometry, so this is absurd.<br>
            <br>
            This is a major method for showing that statements are unprovable in various theories.<br>
            Indeed, a theorem of Gödel (Gödel's completeness theorem) tells us that if a statement s in the language of some axiomatic theory 𝕋 is unprovable then there is always some structure that satisfies the axioms of 𝕋 in which s is false.<br>
            So showing that s is unprovable often amounts to finding such a structure.<br>
            <br><br>
            But I digress. Yes, I did assume your gender, but it was an assumption based on data.<br>
            <br>
            Of all the users of EWMA, a staggering 75% are males. That's not a rounded figure, either. 9 girls out of 36 users.<br>
            <br><br>
            And I know what you're thinking. You're writing a sternly worded e-mail about your concerns with the small sample size.<br>
            <br>
    <pre>
        Dear EWMA Automated Password Reset Email,

        The sample size of your statistical test for correlations between gender distributions and the accounts on EWMA is too small!
        The P-Values are way out-of-whack here and there really isn't any basis to the statistical assumption.

        I demand retribution for your assumption of my gender!

        Warmest Regards,
        Jeraldine
    </pre>
            <br>
            And you're well within your rights to send that email.<br>
            <br>
            But you know what?<br>
            Nobody is going to read your response, because this email address is not configured for receiving replies.<br>
            Put that in your pipe and smoke it.<br>
            <hr>
            <i>This is an automated email from the EWMA. Please do not reply to this email, as the system is not configured to receive replies.<br>
            If you would no longer like to receive emails from EWMA, you can <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">unsubscribe</a>.</i>
        </div>
    </body>
</html>
