<!DOCTYPE html>
<head>
    <%- include('head_shit.ejs', {title: 'EWMA | Password Reset', request: request, cacheBuster: cacheBuster}); %>
</head>
<body class="<%= request.user.attributes.dark ? "dark-theme" : "light-theme" %>">
    <div id="site">
        <div id="content">
            <div class="absc db">
                <a href="/">
                    <img class="logo db" src="<%= cacheBuster('images/ewma.svg'); %>" />
                </a>
                <br />
                <div class="errText">
                    <% if (errText) { %>
                        <%= errText %>
                    <% } else { %> &nbsp; <% } %>
                </div>
                <form method="POST" action="/useapasswordmanager" id="resetForm">
                    <div class="formPart">
                        <input class="input-textbox" type="email" name="email" id="email" placeholder="Email" autocomplate="off" required="required" maxlength="100" style="width: 300px">
                    </div>

                    <input class="button" type="submit" value="Reset Password">
                </form>
            </div>
        </div>
    </div>
</body>
