<!DOCTYPE html>

<head>
    <%- include('head_shit.ejs', {title: 'EWMA | Password Reset', request: request, cacheBuster: cacheBuster}); %>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>

<style>
    body {
        font-family: 'Didact Gothic';
        font-size: 16px;
    }

</style>

<body>
    <div id="site">
        <div id="content">
            <div class="absc db">
                <a href="/">
                    <img class="logo db" src="<%= cacheBuster('images/ewma.svg'); %>" />
                </a>
                <br />
                <div class="errText">
                    <% if (errText) { %>
                        <%= errText %>
                    <% } else { %> &nbsp; <% } %>
                </div>
                <form method="POST" action="/useapasswordmanager" id="resetForm">
                    <div class="formPart">
                        <input type="email"
                            name="email"
                            id="email"
                            placeholder="Email"
                            autocomplate="off"
                            required="required"
                            maxlength="100">
                    </div>

                    <input type="submit" value="Reset Password">
                </form>
            </div>
        </div>
    </div>
</body>
